@font-face {
    font-family:roboto-thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-light ;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-regular ;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(../fonts/Roboto-Black.ttf);
}

html,
body {
    font-family: roboto-regular;
    padding: 0;
    margin: 0;
}

.banner {
  
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/definition-ecommerce.jpg) ;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        color: aliceblue;
        /* background-color: rgba(0, 0, 0, 0.849); */
   
}


.btn-connect:hover::after {
    content: 'login';
    color: #ffffff;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}